extends layout

block content
  header
    .container
      img(src='/img/logo.png')
  figure
    figcaption
      h1 It's <span>Cold</span> Out.
      h2 Help make a difference.
    a.more(href='#')
      span.glyphicon.glyphicon-chevron-down
  section#overview
    .container
      img(src='/img/logo.png')
      .row.overview
        .col-lg-4.col-md-5
          img.img-responsive.coat(src='/img/coat.png')
        .col-lg-8.col-md-7
          h3 Everyone needs a <span>Warm</span> Coat.
          p With your help, Operation BundleUp provides warm coats and winter clothing to those who need it most: the more than 2,600 homeless braving the cold Metro Vancouver winter.
          p You can help by donating new or gently used coats and winter clothing (gloves, toques, socks, hoodies, umbrellas, scarves, vests, etc) or by donating to Operation BundleUp. Your entire contribution will be used to buy warm clothing for those who need it most.
          p Operation BundleUp offers two simple ways for you to get involved:
          .row.cta-buttons
            .col-lg-6.col-lg-offset-1.col-md-6.col-md-offset-1
              a.btn.btn-cta.btn-money(href='#') Donate $
            .col-lg-5.col-md-5
              a.btn.btn-cta.btn-clothes(href='#') Donate Coats<br><span>or winter wear</span>
      .learnmore-box
        a.cta-learnmore(href='#') learn more about bundle<span>up</span>
  section.learnmore
    .container
      .col-lg-4
        table.tracker
          tbody
            tr
              td(colspan='2')
                h4 Items Received
            tr
              td
                img(src='/img/jacket.png')
                | Coats
              td.right #
            tr
              td
                img.gloves(src='/img/gloves.png')
                | Gloves
              td.right #
            tr
              td
                img(src='/img/thermal.png')
                | Thermal
              td.right #
            tr
              td
                img(src='/img/toque.png')
                | Toques &amp; Hats
              td.right #
            tr
              td
                img(src='/img/socks.png')
                | Socks
              td.right #
            tr
              td
                img(src='/img/underwear.png')
                | Underwear
              td.right #
            tr
              td
                img(src='/img/boots.png')
                | Boots
              td.right #
            tr
              td
                img(src='/img/scarf.png')
                | Scarves
              td.right #
            tr
              td(colspan='2')
                h4 Funds Raised
            tr
              td(colspan='2') $0.00
      .col-lg-8
        p.focus A pair of gloves, a coat, a warm hat.
        p.focus.bottom They may sound simple, but each can make the difference between sleeping safely and comfortably, and hypothermia.
        h3 What is Operation BundleUp?
        p Operation BundleUp’s mission is to make sure that the over 2,600 homeless in Metro Vancouver have the warm clothing they need for the winter. We make it easy for you to donate your extra winter clothing by acting as a central collection point for a number of great organizations throughout Metro Vancouver that can that distribute it to those most in need.
        p Change the life of someone without a home this holiday season, donate or start your own coat-drive today.
        h3 How did Operation BundleUp start?
        p It’s difficult to imagine spending an entire day or night outside, let alone weeks or months. But for more than 2,600 people living throughout Metro Vancouver spending the entire day outside outside isn’t a choice – it’s reality.
        p When we first looked at how we could help, we found that it wasn’t really easy to make sure our warm clothing got to those most in need. There are a number of great charities in Vancouver that collect these items, but it was difficult to know which organization needed what.
        p We set up Operation BundleUp to act as a bridge between people who want to help, and the organizations who need it. We make it easy for you to donate your new and gently-used winter clothing, and pass them along to those in need.
        h3 How does it work?
        ul
          li You drop off your warm winter clothing at one of our convenient drop-off locations (see list below).
          li We pick them all up and distribute them to organizations in need.
          li Your donations are used to buy jackets and clothing that’s required to be new (socks, underwear, etc).
        h3 Why get involved?
        p Winters in Vancouver are cold, wet and dreary. While we grab our comfy pyjamas and reach for that extra blanket on the couch, over 2,600 of Metro Vancouver’s homeless have to do without. Lacking proper protective clothing, winter becomes almost unbearable. A small donation or a gently-used coat is all it takes to change someones life for the better this holiday season.
        h3 How can I help?
        p By dropping off gently used clothing at any of the drop-off locations listed <a class="gotomap" href="#">below</a>. You can also make a small donation. Your entire donation will be used to buy clothing for those in need.
  section.clothing
    .container
      .col-lg-12
        h3 What items do we accept?
        p We wish we could take anything that you think might help, but unfortunately we’ve got to limit the items we collect for health and safety reasons. Below is a handy chart highlighting the items we can accept and the condition we can accept them in. Unfortunately, if something is too old, dirty or dingy, we’re unable to accept it.
        table.table
          thead
            tr
              th
              th New
              th Used
          tbody
            tr
              td Coats
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-ok.yes
            tr
              td Socks
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-remove.no
            tr
              td Underwear
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-remove.no
            tr
              td Sleeping Bags
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-ok.yes
            tr
              td Gloves
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-ok.yes
            tr
              td Hoodies
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-ok.yes
            tr
              td Thermal / Long-Johns
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-remove.no
            tr
              td Rain Coats
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-ok.yes
            tr
              td Umbrellas
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-ok.yes
            tr
              td Blankets
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-ok.yes
            tr
              td Scarves
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-remove.no
            tr
              td Vests
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-ok.yes
            tr
              td Boots
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-ok.yes
            tr
              td Toques / Hats
              td
                span.glyphicon.glyphicon-ok.yes
              td
                span.glyphicon.glyphicon-remove.no
        p.dropoff Use the map below to find the most convenient drop off location for you.
  section.map
    #map
    .container
      .row.clothing.closer.nobottom
        .col-lg-3
          h3 Vancouver
          p.area We're currently looking for drop-off locations in the Vancouver area, if you can help us with this, please get in <a href="mailto:info@operationbundleup.com">touch</a>!
        .col-lg-3
          h3 Burnaby
          p.area We're currently looking for drop-off locations in the Burnaby area, if you can help us with this, please get in <a href="mailto:info@operationbundleup.com">touch</a>!
        .col-lg-3
          h3 Surrey
          p.area We're currently looking for drop-off locations in the Surrey area, if you can help us with this, please get in <a href="mailto:info@operationbundleup.com">touch</a>!
        .col-lg-3
          h3 Langley
          p.area We're currently looking for drop-off locations in the Langley area, if you can help us with this, please get in <a href="mailto:info@operationbundleup.com">touch</a>!
        .col-lg-3
          h3 Coquitlam
          p.area.end We're currently looking for drop-off locations in the Coquitlam area, if you can help us with this, please get in <a href="mailto:info@operationbundleup.com">touch</a>!
        .col-lg-3
          h3 Richmond
          p.area.end We're currently looking for drop-off locations in the Richmond area, if you can help us with this, please get in <a href="mailto:info@operationbundleup.com">touch</a>!
        .col-lg-3
          h3 Delta
          p.area.end We're currently looking for drop-off locations in the Delta area, if you can help us with this, please get in <a href="mailto:info@operationbundleup.com">touch</a>!
        .col-lg-3
          h3 White Rock
          p.area.end We're currently looking for drop-off locations in the White Rock area, if you can help us with this, please get in <a href="mailto:info@operationbundleup.com">touch</a>!
  section.donate
    .container
      h3 Donate $
      p Operation BundleUp is in the midst of getting its payment processes set up. Unfortunately, at this time, we cannot accept monetary payments. Check back in a day or two!
      .row
        .col-lg-4
          h3 Credit Card
          a.btn.btn-default.btn-lg.btn-pay.disabled(href='#') Coming Soon!
        .col-lg-4
          h3 Paypal
          a.btn.btn-default.btn-lg.btn-pay.disabled(href='#') Coming Soon!
        .col-lg-4
          h3 Bitcoin
          a.btn.btn-default.btn-lg.btn-pay.disabled(href='#') Coming Soon!
  footer
    .container
      .row
        .col-lg-3
          img(src='/img/logo.png')