doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Signika:400,600,700')
    link(rel='stylesheet', href='http://api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='http://api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.js')
    script(src='/js/bundleup.js')