doctype 5
html
  head
    if page === 'media'
      title Media - Operation Bundle Up
    else
      title Operation Bundle Up
    meta(name='description', content='Operation Bundle Up helps provide warm coats & winter clothing to those who need it most: the more than 2600 homeless braving the cold Metro Vancouver winter.')
    if page === 'media'
      meta(name='robots', content='noindex,nofollow')
    else
      meta(name='robots', content='index,follow')
    meta(property='og:image', content='http://operationbundleup.com/img/facebook.png')
    meta(property='og:title', content='Operation BundleUp')
    meta(property='og:description', content='Operation BundleUp helps provide warm coats & winter clothing to those who need it most: the more than 2600 homeless braving the cold Vancouver winter.')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Signika:400,600,700')
    link(rel='stylesheet', href='http://api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/modernizr.js')
    script.
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '52a6455eeddd5b60ca000c14');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
  if page === 'media'
    body.media
  else
    body
  block content
  script(src='http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='http://api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.js')
  script(src='/js/bundleup.js')