extends layout

block content
  header.relative
    .container
      .col-lg-4.col-md-4
        img.img-responsive(src='/img/media-logo.png')
      .col-lg-8.col-md-8.textright
        a.back(href='/') Back Home
  section.relations
    .container
      .col-lg-12.col-md-12
        h3.first Overview
        p Operation BundleUp’s mission is to make sure that the over 2,600 homeless in Metro Vancouver have the warm clothing they need for the winter. We make it easy for people to donate their extra winter clothing by acting as a central collection point for a number of great organizations throughout the city.
        p To help out, simply drop off your warm winter clothing (socks, toques, jackets, gloves) at one of our drop-off locations throughout Metro Vancouver and we will make sure it gets to one of the many organizations that need it.
        h3 How did it start?
        p When we first looked at how we could help, we found that it wasn’t really easy to make sure our warm clothing got to those most in need. There are a number of great charities in Vancouver that collect these items, but it was difficult to know which organization needed what. We set up Operation BundleUp to act as a bridge between people who want to help, and the organizations who need it. We make it easy for the people of Vancouver to donate their new and gently-used winter clothing and get it to those in need.
        h3 How does it work?
        p It's really simple.
        ul
          li You drop off your warm winter clothing at one of our convenient drop-off locations.
          li We pick them all up and distribute them to organizations in need.
          li 100% of monetary donations are used to buy jackets and clothing that’s required to be new (socks, underwear, etc).
        h3 Social Media
        ul.socialmedialist
          li Facebook - <a href="https://www.facebook.com/operationbundleup">https://www.facebook.com/operationbundleup</a>
          li Twitter - <a href="https://twitter.com/bundleupyvr">https://twitter.com/bundleupyvr</a>
          li Instagram - <a href="http://instagram.com/bundleupyvr">http://instagram.com/bundleupyvr</a>
        h3 Media Contact
        p We would love to answer any questions you might have. E-mail us at <a href="mailto:media@operationbundleup.com">media@operationbundleup.com</a> or call any of the numbers below:
        ul
          li Scott: <a href="tel:604-561-5662">604.561.5662</a>
          li Julian: <a href="tel:604-307-7816">604.307.7816</a>
          li JJ: <a href="tel:604-812-2246">604.812.2246</a>
          li Jono: <a href="tel:604-367-8933">604.367.8933</a>
      .col-lg-12.col-md-12
        h3 Images
        p If you'd like to use our logo, please use these official images below:
        a(href='/img/bundle-up-logo.png')
          img.img-responsive(src='/img/bundle-up-logo.png')
        a.thumb(href='/img/bundleup-logo-square-web.png')
          img.img-responsive(src='/img/bundleup-logo-square-web.png')
        a.thumb(href='/img/bundleup-logo-square.png')
          img.img-responsive(src='/img/bundleup-logo-square.png')