extends layout

block content
  header
    .container
      .col-lg-4.col-md-4
        img.img-responsive(src='/img/media-logo.png')
      .col-lg-8.col-md-8.textright
        a.back(href='#') Back Home
  section.relations
    .container
      .col-lg-4.col-md-4
      .col-lg-8.col-md-8