extends layout

block content
  header.relative
    .container
      .row
        .col-lg-4.col-md-4.col-sm-4
          img.img-responsive(src='/img/media-logo.png')
        .col-lg-8.col-md-8.col-sm-8.textright
          a.back(href='/') Back Home
  section.team
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12
          h1 Our Team
      .row
        .col-lg-12.col-md-12.col-sm-12
          h3 Founding Directors
      .row
        .col-lg-3.col-md-3.col-sm-3
          .profilephoto
            .social-icons
              | <a href='https://www.facebook.com/scottszarapka' title="Scott's Facebook"><img src='/img/facebook.png'/></a>&nbsp;&nbsp;<a href='https://twitter.com/scottszarapka' title="Scott's Twitter"><img src='/img/twitter.png' /></a>&nbsp;&nbsp;<a href='http://ca.linkedin.com/in/scottszarapka/' title="Scott's LinkedIn"><img src='/img/linkedin.png' /></a>&nbsp;&nbsp;<a href='http://instagram.com/scottszarapka' title="Scott's Instagram"><img src='/img/instagram.png' /></a>
            img.img-responsive(src='/img/scott.png')
          h4 Scott Szarapka
          ul.teamdeets
            li
              | Mail:&nbsp;
              a(href='mailto:scott@operationbundleup.com') scott@operationbundleup.com
            li
              | Web:&nbsp;
              a(href='http://www.szarapka.com') www.szarapka.com
        .col-lg-3.col-md-3.col-sm-3
          .profilephoto
            .social-icons
              | <a href='https://www.facebook.com/jj.maclean' title="JJ's Facebook"><img src='/img/facebook.png'/></a>&nbsp;&nbsp;<a href='https://twitter.com/jjmaclean' title="JJ's Twitter"><img src='/img/twitter.png' /></a>&nbsp;&nbsp;<a href='http://www.linkedin.com/in/jjmaclean' title="JJ's LinkedIn"><img src='/img/linkedin.png' /></a>&nbsp;&nbsp;<a href='http://instagram.com/jjmaclean' title="JJ's Instagram"><img src='/img/instagram.png' /></a>
            img.img-responsive(src='/img/jj.png')
          h4 JJ MacLean
          ul.teamdeets
            li
              | Mail:&nbsp;
              a(href='mailto:jj@operationbundleup.com') jj@operationbundleup.com
            li
              | Web:&nbsp;
        .col-lg-3.col-md-3.col-sm-3
          .profilephoto
            .social-icons
              | <a href='https://www.facebook.com/juliandeschutter' title="Julian's Facebook"><img src='/img/facebook.png'/></a>&nbsp;&nbsp;<a href='https://twitter.com/deshoots' title="Julian's Twitter"><img src='/img/twitter.png' /></a>&nbsp;&nbsp;<a href='http://www.linkedin.com/in/juliandeschutter' title="Julian's LinkedIn"><img src='/img/linkedin.png' /></a>&nbsp;&nbsp;<a href='http://instagram.com/deshoots' title="Julian's Instagram"><img src='/img/instagram.png' /></a>
            img.img-responsive(src='/img/julian.png')
          h4 Julian DeSchutter
          ul.teamdeets
            li
              | Mail:&nbsp;
              a(href='mailto:julian@operationbundleup.com') julian@operationbundleup.com
            li
              | Web:&nbsp;
              a(href='http://www.juliandeschutter.com') www.juliandeschutter.com
        .col-lg-3.col-md-3.col-sm-3
          .profilephoto
            .social-icons
              | <a href='https://www.facebook.com/grayjonathon' title="Jono's Facebook"><img src='/img/facebook.png'/></a>&nbsp;&nbsp;<a href='https://twitter.com/Jono_Gray' title="Jono's Twitter"><img src='/img/twitter.png' /></a>&nbsp;&nbsp;<a href='http://ca.linkedin.com/pub/jonathon-gray/23/7a0/494' title="Jono's LinkedIn"><img src='/img/linkedin.png' />&nbsp;&nbsp;<a href='http://instagram.com/grayjono' title="Jono's Instagram"><img src='/img/instagram.png' /></a>
            img.img-responsive(src='/img/jono.png')
          h4 Jono Gray
          ul.teamdeets
            li
              | Mail:&nbsp;
              a(href='mailto:jono@operationbundleup.com') jono@operationbundleup.com
            li
              | Web:&nbsp;
      .row
        .col-lg-12
          h3.volunteers Volunteers
          p Coming Soon.