/*
 * bundleup
 * operationbundleup.com
 *
 * you should donate a coat!
 *
 */

/* ---- Body & General Styles ---- */

body {
  background: #000 url('../img/binding_dark.png');
}

body.media {
  font-family: 'Signika', sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.textright {
  text-align: right;
}

.textcenter {
  text-align: center;
}

.anchor,
.anchor:hover {
  text-decoration: none;
  color: inherit;
}

/* ---- Splash ---- */

header {
  position: absolute;
  width: 100%;
  display: inline-block;
  right: 0;
  left: 0;
  z-index: 50;
  overflow: hidden;
}

figure {
  z-index: 25;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  background-image: url('../img/splash.jpg');
}

figcaption {
  z-index: 30;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -130px;
  color: #fff;
}

figcaption h1 {
  font-size: 140px;
  font-family: 'Signika', sans-serif;
  margin-bottom: 0;
}

figcaption h1 span {
  font-weight: 700;
}

figcaption h2 {
  margin-top: 0;
  font-size: 84px;
  font-family: 'Signika', sans-serif;
}

a.more {
  color: #fff;
  font-size: 34px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  z-index: 30;
  -webkit-transition: all 1s ease, font-size 0.35s ease;
  -moz-transition: all 1s ease, font-size 0.35s ease;
  -ms-transition: all 1s ease, font-size 0.35s ease;
  -o-transition: all 1s ease, font-size 0.35s ease;
}

a.more:hover {
  font-size: 48px;
}

/* ---- Overview --- */

.overview {
  color: #fff;
  margin-top: 90px;
  font-family: 'Signika', sans-serif;
}

.overview h3 {
  margin-top: 0;
  font-family: 'Signika', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.overview h3 span {
  color: #f15c5b;
}

.overview p {
  line-height: 1.55em;
  margin-top: 50px;
  font-size: 30px;
}

.overview p:first-child {
  margin-top: 10px;
}

.cta-buttons {
  margin-top:40px;
  margin-bottom: 140px;
}

.btn-cta {
  color: #fff;
  width: 230px;
  height: 88px;
  font-size: 30px;
  border-radius: 10px;
}

.btn-cta span {
  font-size: 18px;
}

.btn-money {
  padding: 28px 10px;
  line-height: 18px;
  background-color: #7a7b7b;
}

.btn-money:hover {
  background-color: #6a6a6a;
  color: #fff;
}

.btn-clothes {
  padding: 28px 10px;
  line-height: 18px;
  background-color: #f15c5b;
}

.btn-clothes:hover {
  color: #fff;
  background-color: #df5554;
}

.learnmore-box {
  width: 100%;
  text-align: center;
}

.cta-learnmore {
  color: #000;
  display: inline-block;
  background-color: #fff;
  padding: 10px 20px 5px 20px;
  font-size: 26px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: 'Signika', sans-serif;
}

.cta-learnmore span {
  color: #f15c5b;
}

.cta-learnmore:hover {
  text-decoration: none;
  color: #7a7b7b;
}

.cta-learnmore span:hover {
  text-decoration: none;
  color: #f15c5b;
}

/* ---- Learn More ---- */

.learnmore {
  padding-top: 200px;
  padding-bottom: 195px;
  background: #fff;
  width: 100%;
  overflow: auto;
  clear: both;
  font-family: 'Signika', sans-serif;
  font-size: 18px;
  line-height: 1.55em;
}

.learnmore .focus {
  line-height: 1.55em;
  font-size: 28px;
  font-style: italic;
}

.learnmore .bottom {
  margin-bottom: 40px;
}

.learnmore h3 {
  font-family: 'Signika', sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.learnmore .gloves {
  padding-left: 4px;
}

.tracker {
  width: 80%;
}

.tracker .heading {
  text-align: center;
}

.tracker .funds {
  margin-top: 20px;
}

.tracker h4 {
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
}

.tracker td {
  vertical-align: middle;
}

.tracker td.right {
  text-align: right;
}

.tracker img {
  padding-right: 10px;
  padding-bottom: 10px;
}

a,
a:hover {
  color: #f15c5b;
}

/* ---- Clothing ---- */

.clothing {
  padding-top: 200px;
  font-family: 'Signika', sans-serif;
  color: #fff;
  padding-bottom: 50px;
}

.clothing h3 {
  font-family: 'Signika', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.clothing p {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 50px;
}

.clothing .table {
  font-size: 24px;
}

.clothing .dropoff {
  margin-bottom: 0;
}

.yes {
  color: #7ff15b;
}

.no {
  color: #f15d5b;
}

/* ---- Drop Off Finder ---- */

.nobottom {
  padding-bottom: 0;
}

.map {
  padding: 0;
}

#map {
  height: 800px;
}

.closer {
  padding-top: 50px;
}

.closest {
  padding-top: 0;
}

.clothing .area {
  font-size: 18px;
  margin-bottom: 20px;
}

.clothing .addy {
  margin-top: 20px;
  padding: 0;
  font-size: 20px;
}

.clothing .addy a {
  color: #f15c5b;
}

.clothing .end {
  padding-bottom: 195px;
  margin-bottom: 0;
}

.clothing .area a {
  color: #f15c5b;
}

/* ---- Donate ---- */

.donate {
  padding-top: 200px;
  padding-bottom: 195px;
  background: #fff;
  width: 100%;
  overflow: auto;
  clear: both;
  font-family: 'Signika', sans-serif;
  font-size: 18px;
  line-height: 1.55em;
}

.donate h3 {
  font-family: 'Signika', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.donate p {
  line-height: 1.55em;
  margin-top: 50px;
  font-size: 30px;
}

.btn-pay {
  margin-top: 40px;
}

/* ---- Partners ---- */

.partners {
  padding-top: 200px;
  padding-bottom: 195px;
  background: #fff;
  width: 100%;
  overflow: auto;
  clear: both;
  font-family: 'Signika', sans-serif;
  font-size: 18px;
  line-height: 1.55em;
}

.partners h3 {
  font-family: 'Signika', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.partners p {
  line-height: 1.55em;
  margin-top: 50px;
  font-size: 30px;
}

/* ---- Media (Page) ----*/

.media header {
  position: relative;
}

.media .back {
  display: inline-block;
  margin-top: 45px;
}

.media .relations {
  padding: 100px 0;
  font-size: 18px;
}

.relations .first {
  padding-top: 0;
}

.thumb img {
  display: inline-block;
  width: 50%;
}

.relations h3 {
  padding-top: 20px;
  font-family: 'Signika', sans-serif;
  font-size: 26px;
  font-weight: 600;
}

/* ---- Footer ----*/

footer {
  padding-bottom: 50px;
  color: #fff;
  font-family: 'Signika', sans-serif;
  font-size: 24px;
}

.footer-menu {
  text-align: right;
}

footer label {
  font-weight: normal;
  display: inline-block;
  padding-right: 10px;
}

footer input.form-control {
  display: inline-block;
  width: 40%;
  margin-right: 10px;
}

.newsletterform {
  margin-top: 42px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}

footer ul.social {
  margin-top: 14px;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

footer ul.social li {
  display: inline-block;
  padding-left: 0;
  padding-right: 20px;
}

footer ul.social li a {
  font-size: 16px;
}

footer ul {
  margin-top: 42px;
  list-style: none;
  padding: 0;
}

footer li {
  display: inline-block;
  padding-left: 20px;
}

footer .small {
  font-size: 14px;
  font-weight: normal;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .overview .coat {
    margin-top: 100px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  figcaption h1 {
    font-size: 140px;
  }

  figcaption h2 {
    font-size: 84px;
  }

  .overview h3 {
    font-size: 36px;
  }

  .overview p {
    font-size: 30px;
  }

  .learnmore h3 {
    font-size: 26px;
  }
}